[mysqld]
innodb_buffer_pool_size=8G
innodb_log_buffer_size=128M
max_connections=50
sort_buffer_size=8M
read_buffer_size=8M
join_buffer_size=8M
query_cache_size=32M
query_cache_type=0
max_allowed_packet=128M
explicit_defaults_for_timestamp=1
innodb_default_row_format=DYNAMIC
